{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        },
        // "modules": false,
        "debug": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}